<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/background.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{360,640}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>image/button1.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,787},{108,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,31}</string>
			</dict>
			<key>image/button2.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,643},{108,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,31}</string>
			</dict>
			<key>image/title_logo.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,643},{311,70}}</string>
				<key>offset</key>
				<string>{-2,9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{570,120}</string>
			</dict>
			<key>image/ball.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,753},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>image/bar.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,935},{200,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,14}</string>
			</dict>
			<key>image/bar_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,917},{202,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{202,16}</string>
			</dict>
			<key>image/def_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,956},{63,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,63}</string>
			</dict>
			<key>image/hp_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{66,956},{63,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,63}</string>
			</dict>
			<key>image/atk_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,787},{63,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,63}</string>
			</dict>
			<key>image/hp_ret_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,852},{63,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,63}</string>
			</dict>
			<key>image/chaunqiang_skill.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,951},{63,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,63}</string>
			</dict>
			<key>image/huixue_skill.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,951},{63,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,63}</string>
			</dict>
			<key>image/taochu_skill.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,951},{63,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,63}</string>
			</dict>
			<key>image/money_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,753},{22,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,23}</string>
			</dict>
			<key>image/page_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,897},{16,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,23}</string>
			</dict>
			<key>image/page_check.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,643},{19,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,23}</string>
			</dict>
			<key>image/button3.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,643},{142,72}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{142,74}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist.png</string>
			<key>realTextureFileName</key>
			<string>Plist.png</string>
			<key>size</key>
			<string>{512,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>