<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>heroMove/move0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{18,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,30}</string>
			</dict>
			<key>heroMove/move1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,30},{18,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,30}</string>
			</dict>
			<key>heroMove/move10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,60},{18,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,30}</string>
			</dict>
			<key>heroMove/move11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,180},{17,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{17,30}</string>
			</dict>
			<key>heroMove/move12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,300},{16,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,30}</string>
			</dict>
			<key>heroMove/move13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,420},{15,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,30}</string>
			</dict>
			<key>heroMove/move14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,330},{16,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,30}</string>
			</dict>
			<key>heroMove/move15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,210},{17,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{17,30}</string>
			</dict>
			<key>heroMove/move2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,90},{18,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,30}</string>
			</dict>
			<key>heroMove/move3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,120},{18,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,30}</string>
			</dict>
			<key>heroMove/move4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,360},{16,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,30}</string>
			</dict>
			<key>heroMove/move5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,240},{17,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{17,30}</string>
			</dict>
			<key>heroMove/move6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,390},{16,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,30}</string>
			</dict>
			<key>heroMove/move7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,450},{15,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,30}</string>
			</dict>
			<key>heroMove/move8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,150},{18,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,30}</string>
			</dict>
			<key>heroMove/move9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,270},{17,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{17,30}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>HeroMovePlist.png</string>
			<key>realTextureFileName</key>
			<string>HeroMovePlist.png</string>
			<key>size</key>
			<string>{18,480}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>18</integer>
			<key>height</key>
			<integer>480</integer>
		</dict>
	</dict>
</plist>