<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack11.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,188},{42,58}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,54},{42,58}}</string>
                <key>sourceSize</key>
                <string>{78,118}</string>
            </dict>
            <key>attack110.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{38,72}}</string>
                <key>offset</key>
                <string>{1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{38,72}}</string>
                <key>sourceSize</key>
                <string>{78,118}</string>
            </dict>
            <key>attack111.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,23},{40,74}}</string>
                <key>sourceSize</key>
                <string>{78,118}</string>
            </dict>
            <key>attack112.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,306},{34,56}}</string>
                <key>offset</key>
                <string>{-3,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,55},{34,56}}</string>
                <key>sourceSize</key>
                <string>{78,118}</string>
            </dict>
            <key>attack113.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,418},{34,52}}</string>
                <key>offset</key>
                <string>{-2,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,59},{34,52}}</string>
                <key>sourceSize</key>
                <string>{78,118}</string>
            </dict>
            <key>attack114.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,98},{38,48}}</string>
                <key>offset</key>
                <string>{-2,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,63},{38,48}}</string>
                <key>sourceSize</key>
                <string>{78,118}</string>
            </dict>
            <key>attack115.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,306},{44,54}}</string>
                <key>offset</key>
                <string>{-1,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,52},{44,54}}</string>
                <key>sourceSize</key>
                <string>{78,118}</string>
            </dict>
            <key>attack12.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,133},{44,62}}</string>
                <key>offset</key>
                <string>{3,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,52},{44,62}}</string>
                <key>sourceSize</key>
                <string>{78,118}</string>
            </dict>
            <key>attack13.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,399},{48,60}}</string>
                <key>offset</key>
                <string>{9,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,53},{48,60}}</string>
                <key>sourceSize</key>
                <string>{78,118}</string>
            </dict>
            <key>attack14.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,187},{40,56}}</string>
                <key>offset</key>
                <string>{12,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,58},{40,56}}</string>
                <key>sourceSize</key>
                <string>{78,118}</string>
            </dict>
            <key>attack15.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,362},{38,54}}</string>
                <key>offset</key>
                <string>{12,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,62},{38,54}}</string>
                <key>sourceSize</key>
                <string>{78,118}</string>
            </dict>
            <key>attack16.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,422},{40,54}}</string>
                <key>offset</key>
                <string>{13,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,62},{40,54}}</string>
                <key>sourceSize</key>
                <string>{78,118}</string>
            </dict>
            <key>attack17.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,72},{46,64}}</string>
                <key>offset</key>
                <string>{5,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,48},{46,64}}</string>
                <key>sourceSize</key>
                <string>{78,118}</string>
            </dict>
            <key>attack18.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{32,68}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,26},{32,68}}</string>
                <key>sourceSize</key>
                <string>{78,118}</string>
            </dict>
            <key>attack19.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,74},{30,70}}</string>
                <key>offset</key>
                <string>{2,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,5},{30,70}}</string>
                <key>sourceSize</key>
                <string>{78,118}</string>
            </dict>
            <key>attack21.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,245},{40,54}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,54},{40,54}}</string>
                <key>sourceSize</key>
                <string>{78,118}</string>
            </dict>
            <key>attack210.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,204},{38,64}}</string>
                <key>offset</key>
                <string>{-2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,7},{38,64}}</string>
                <key>sourceSize</key>
                <string>{78,118}</string>
            </dict>
            <key>attack211.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,138},{40,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,27},{40,64}}</string>
                <key>sourceSize</key>
                <string>{78,118}</string>
            </dict>
            <key>attack212.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,123},{34,56}}</string>
                <key>offset</key>
                <string>{2,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,58},{34,56}}</string>
                <key>sourceSize</key>
                <string>{78,118}</string>
            </dict>
            <key>attack213.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,260},{34,60}}</string>
                <key>offset</key>
                <string>{2,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,55},{34,60}}</string>
                <key>sourceSize</key>
                <string>{78,118}</string>
            </dict>
            <key>attack214.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,392},{38,60}}</string>
                <key>offset</key>
                <string>{2,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,57},{38,60}}</string>
                <key>sourceSize</key>
                <string>{78,118}</string>
            </dict>
            <key>attack215.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{44,64}}</string>
                <key>offset</key>
                <string>{1,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,48},{44,64}}</string>
                <key>sourceSize</key>
                <string>{78,118}</string>
            </dict>
            <key>attack22.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{44,48}}</string>
                <key>offset</key>
                <string>{-3,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,60},{44,48}}</string>
                <key>sourceSize</key>
                <string>{78,118}</string>
            </dict>
            <key>attack23.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,461},{48,46}}</string>
                <key>offset</key>
                <string>{-9,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,61},{48,46}}</string>
                <key>sourceSize</key>
                <string>{78,118}</string>
            </dict>
            <key>attack24.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,48},{40,48}}</string>
                <key>offset</key>
                <string>{-13,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,59},{40,48}}</string>
                <key>sourceSize</key>
                <string>{78,118}</string>
            </dict>
            <key>attack25.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,472},{38,48}}</string>
                <key>offset</key>
                <string>{-12,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,59},{38,48}}</string>
                <key>sourceSize</key>
                <string>{78,118}</string>
            </dict>
            <key>attack26.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,2},{40,50}}</string>
                <key>offset</key>
                <string>{-13,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,57},{40,50}}</string>
                <key>sourceSize</key>
                <string>{78,118}</string>
            </dict>
            <key>attack27.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,454},{46,56}}</string>
                <key>offset</key>
                <string>{-6,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,52},{46,56}}</string>
                <key>sourceSize</key>
                <string>{78,118}</string>
            </dict>
            <key>attack28.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,299},{32,66}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,26},{32,66}}</string>
                <key>sourceSize</key>
                <string>{78,118}</string>
            </dict>
            <key>attack29.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,335},{30,62}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,14},{30,62}}</string>
                <key>sourceSize</key>
                <string>{78,118}</string>
            </dict>
            <key>back11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{56,71}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{56,71}}</string>
                <key>sourceSize</key>
                <string>{62,79}</string>
            </dict>
            <key>back12.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,197},{40,61}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,15},{40,61}}</string>
                <key>sourceSize</key>
                <string>{62,79}</string>
            </dict>
            <key>back13.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,152},{40,71}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{40,71}}</string>
                <key>sourceSize</key>
                <string>{62,79}</string>
            </dict>
            <key>back14.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,270},{36,63}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,15},{36,63}}</string>
                <key>sourceSize</key>
                <string>{62,79}</string>
            </dict>
            <key>back15.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,127},{32,59}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,16},{32,59}}</string>
                <key>sourceSize</key>
                <string>{62,79}</string>
            </dict>
            <key>back21.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,267},{56,61}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{56,61}}</string>
                <key>sourceSize</key>
                <string>{62,79}</string>
            </dict>
            <key>back22.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{40,59}}</string>
                <key>offset</key>
                <string>{9,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,20},{40,59}}</string>
                <key>sourceSize</key>
                <string>{62,79}</string>
            </dict>
            <key>back23.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,66},{40,59}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{40,59}}</string>
                <key>sourceSize</key>
                <string>{62,79}</string>
            </dict>
            <key>back24.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{36,57}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,17},{36,57}}</string>
                <key>sourceSize</key>
                <string>{62,79}</string>
            </dict>
            <key>back25.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,478},{32,63}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,15},{32,63}}</string>
                <key>sourceSize</key>
                <string>{62,79}</string>
            </dict>
            <key>run11.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,412},{48,64}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{48,64}}</string>
                <key>sourceSize</key>
                <string>{64,82}</string>
            </dict>
            <key>run12.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{56,70}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{56,70}}</string>
                <key>sourceSize</key>
                <string>{64,82}</string>
            </dict>
            <key>run13.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,330},{38,60}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,20},{38,60}}</string>
                <key>sourceSize</key>
                <string>{64,82}</string>
            </dict>
            <key>run14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{40,72}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{40,72}}</string>
                <key>sourceSize</key>
                <string>{64,82}</string>
            </dict>
            <key>run15.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{32,62}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,17},{32,62}}</string>
                <key>sourceSize</key>
                <string>{64,82}</string>
            </dict>
            <key>run21.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,74},{48,68}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{48,68}}</string>
                <key>sourceSize</key>
                <string>{64,82}</string>
            </dict>
            <key>run22.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,203},{56,62}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{56,62}}</string>
                <key>sourceSize</key>
                <string>{64,82}</string>
            </dict>
            <key>run23.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,330},{38,60}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{38,60}}</string>
                <key>sourceSize</key>
                <string>{64,82}</string>
            </dict>
            <key>run24.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,127},{40,58}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{40,58}}</string>
                <key>sourceSize</key>
                <string>{64,82}</string>
            </dict>
            <key>run25.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,364},{32,56}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,19},{32,56}}</string>
                <key>sourceSize</key>
                <string>{64,82}</string>
            </dict>
            <key>stand11.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,437},{38,67}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{38,67}}</string>
                <key>sourceSize</key>
                <string>{54,71}</string>
            </dict>
            <key>stand12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{40,67}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{40,67}}</string>
                <key>sourceSize</key>
                <string>{54,71}</string>
            </dict>
            <key>stand13.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,359},{42,65}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{42,65}}</string>
                <key>sourceSize</key>
                <string>{54,71}</string>
            </dict>
            <key>stand14.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,292},{42,65}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{42,65}}</string>
                <key>sourceSize</key>
                <string>{54,71}</string>
            </dict>
            <key>stand15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,299},{42,67}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{42,67}}</string>
                <key>sourceSize</key>
                <string>{54,71}</string>
            </dict>
            <key>stand16.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,345},{40,65}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{40,65}}</string>
                <key>sourceSize</key>
                <string>{54,71}</string>
            </dict>
            <key>stand17.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{42,63}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{42,63}}</string>
                <key>sourceSize</key>
                <string>{54,71}</string>
            </dict>
            <key>stand18.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,426},{40,65}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{40,65}}</string>
                <key>sourceSize</key>
                <string>{54,71}</string>
            </dict>
            <key>stand21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,437},{38,67}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{38,67}}</string>
                <key>sourceSize</key>
                <string>{54,71}</string>
            </dict>
            <key>stand22.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,278},{40,65}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{40,65}}</string>
                <key>sourceSize</key>
                <string>{54,71}</string>
            </dict>
            <key>stand23.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,68},{42,63}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{42,63}}</string>
                <key>sourceSize</key>
                <string>{54,71}</string>
            </dict>
            <key>stand24.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,138},{42,63}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{42,63}}</string>
                <key>sourceSize</key>
                <string>{54,71}</string>
            </dict>
            <key>stand25.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,436},{42,65}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{42,65}}</string>
                <key>sourceSize</key>
                <string>{54,71}</string>
            </dict>
            <key>stand26.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,211},{40,65}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{40,65}}</string>
                <key>sourceSize</key>
                <string>{54,71}</string>
            </dict>
            <key>stand27.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,225},{42,65}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{42,65}}</string>
                <key>sourceSize</key>
                <string>{54,71}</string>
            </dict>
            <key>stand28.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,144},{40,65}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{40,65}}</string>
                <key>sourceSize</key>
                <string>{54,71}</string>
            </dict>
            <key>underatt11.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,67},{38,62}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,15},{38,62}}</string>
                <key>sourceSize</key>
                <string>{108,80}</string>
            </dict>
            <key>underatt12.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,248},{56,42}}</string>
                <key>offset</key>
                <string>{16,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,38},{56,42}}</string>
                <key>sourceSize</key>
                <string>{108,80}</string>
            </dict>
            <key>underatt21.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,63},{38,58}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,16},{38,58}}</string>
                <key>sourceSize</key>
                <string>{108,80}</string>
            </dict>
            <key>underatt22.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,368},{56,66}}</string>
                <key>offset</key>
                <string>{-17,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{56,66}}</string>
                <key>sourceSize</key>
                <string>{108,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4617876c63af7c12126b8afecbe09ff2$</string>
            <key>textureFileName</key>
            <string>hero.png</string>
        </dict>
    </dict>
</plist>
